<div ng-controller="addHeroController">
  <div id="stylized" class="myform">
    <form>
      <label for="alias"> Alias:
        <input ng-model="alias" id="name" type="text">
      </label>
      <label for="first_name"> First Name:
        <select ng-model="first_name" id="first_name" type="text"></select>
      </label>
      <label for="last_name"> Last Name:
        <input ng-model="last_name" id="last_name" type="text">
      </label>
      <label for="city"> City:
        <input ng-model="city" id="city" type="text">
      </label>
      <label for="power_name">Power Name:
        <input ng-model="power_name" id="power_name" type="text">
      </label>
      <input ng-click="addHero(alias, first_name, last_name, city, power_name)" type="button" value="Add new" id="addnew">
    </form>
  </div>
